@import '../../styles/index.scss';

$icons: (
  'smiling-face': '../../static/emoji/smiling-face.png',
  'smiling-face-faded': '../../static/emoji/smiling-face-faded.png',
  'unhappy-face': '../../static/emoji/unhappy-face.png',
  'unhappy-face-faded': '../../static/emoji/unhappy-face-faded.png',
);

@mixin rsvp-btn-icon($icon) {

  .rsvp-btn-icon {
    background-image: url($icon);
    background-position: center;
    @content;
  }
}

@mixin rsvp-btn-hover () {

  &:hover {
    background: linear-gradient(90deg, $lighter-purple 0%, $deep-purple 129.2%);
    color: #FFFFFF;
    @content;
  }
}

@mixin rsvp-btn($type, $activeIcon, $inactiveIcon, $active-color) {
  @if ($type == yes) {

    &.rsvp-yes {
      @include rsvp-btn-icon($inactiveIcon);

      @include rsvp-btn-hover() {
        @include rsvp-btn-icon($activeIcon);
      }

      &.active {
        background: $active-color;

        @include rsvp-btn-hover();
        @include rsvp-btn-icon($activeIcon);
      }
    }
  }

  @else {

    &.rsvp-no {
      @include rsvp-btn-icon($inactiveIcon);

      @include rsvp-btn-hover() {
        @include rsvp-btn-icon($activeIcon);
      }

      &.active {
        background: $active-color;

        @include rsvp-btn-hover();
        @include rsvp-btn-icon($activeIcon);
      }
    }
  }
}

.rsvp-btn {

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-style: italic;
    color: #FFFFFF;
    border-radius: 50px;

    &:hover {
      background: linear-gradient(90deg, $lighter-purple 0%, $deep-purple 129.2%);
      color: #FFFFFF;
    }

    i.rsvp-btn-icon {
      display: block;
      @include size(32px);
    }
  }

  &.rsvp-yes {
    .button {
      //background-color: $brand-color-primary;

      i.rsvp-btn-icon{
        background-image: url(map-get($icons, 'smiling-face-faded'));
      }
    }

    &.active {
      .button {
        background-color: $brand-color-primary;

        i.rsvp-btn-icon{
          background-image: url(map-get($icons, 'smiling-face'));
        }
      }
    }

  }

  &.rsvp-no {
    .button {
      //background-color: $darker-grey;

      i.rsvp-btn-icon{
        background-image: url(map-get($icons, 'unhappy-face-faded'));
      }
    }

    &.active {
      .button {
        background-color: $darker-grey;

        i.rsvp-btn-icon{
          background-image: url(map-get($icons, 'unhappy-face'));
        }
      }
    }

  }
  //@include rsvp-btn(no, map-get($icons, 'unhappy-face'), map-get($icons, 'unhappy-face-faded'), $darker-grey);
  //@include rsvp-btn(yes, map-get($icons, 'smiling-face'), map-get($icons, 'smiling-face-faded'), $brand-color-primary);
}
