.tabs {
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-items: center;

  &-item {
    align-items: center;
    background-color: #F7EFFF;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 38px;
    min-width: 38px;
    padding: 10px;

    .title {
      flex: 1;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .icon {
      margin: auto;
    }

    &.active {
      background-color: #8917F2;
      color: #FFFFFF;

      svg {

        path {
          fill: #FFFFFF;
        }
      }

      &.rounded {
        width: 200px;
      }
    }
  }

  &.inset {
    background: #EBEBEB;
    border-radius: 17px;
    box-shadow: inset 0 4px 4px rgba(35, 31, 32, .1);
    display: flex;
    gap: 0;
    justify-content: space-evenly;

    .tabs-item {
      background-color: transparent;
      flex: 1;
      transition: background-color .15s ease-in;

      .title {
        color: #8917F2;
        font-weight: 600;
      }

      &.active {
        background-color: #B07AF0;

        .title {
          color: #FFFFFF;
          font-weight: 600;
        }
      }
    }
  }
}
